.header {
    border-bottom: 1px solid #ECECEC;
    position: relative;
}

.header__container {

    @include breakpointFrom(tablet) {
        display: flex;
        align-items: center;

        flex-direction: row;
    }

    .header__nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    
        font-weight: 500;
        font-size: 40px;
        line-height: 1.175;
        letter-spacing: 0.02em;
    
        color: var(--main-color);

        @include breakpointFrom(tablet) {
            font-weight: 500;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.02em;
        }
    }
}
