:root {
    --main-color: #212121;
    --main-text-color: #757575;
    --second-color: #2196F3;
    --white-text-color: #FFFFFF;
    --background-color: #2F303A;
    --background-gradient: rgba(47, 48, 58, 0.4);
    --background-project-text: rgba(47, 48, 58, 0.8);
    --background-team: #F5F4FA;
    --footer-text-color: rgba(255, 255, 255, 0.6);
    --footer-border-input: rgba(255, 255, 255, 0.3);
    --background-button: #F5F4FA;
    --portfolio-border-color: #EEEEEE;
    --white: #FFFFFF;
    --black: #000000;
    --header-icon-color: #757575;
    --icon-color: #AFB1B8;
    --border-icon-color: #AFB1B8;
    --second-icon-color: #2196F3;
    --background-icon-footer: rgba(255, 255, 255, 0.1);
    --backdrop: rgba(0, 0, 0, 0.2);
    --overlay-color: rgba(33, 150, 243, 0.9);
    --modal-btn-shadow-color: rgba(0, 0, 0, 0.15);
    --modal-border-color: rgba(33, 33, 33, 0.2);
    --placeholder-color: rgba(117, 117, 117, 0.5);
}